@import url('https://fonts.googleapis.com/css?family=');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
 body, html{
    background-color: rgb(236, 152, 26);
    display: grid;
    height: 100%;
   place-items: center;
}

h4{
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: .6rem;
    font-weight: 500;
    font-family: inherit;
    text-transform: capitalize;
}

.container{
    width: 600px;
    background-color: white;
    padding: 25px 30px ;
    border-radius: 30px;
    box-shadow: 6px 6px 21px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
 form input{
    margin: 10px 0;
    outline: none;
    border: 1px solid grey;
} 
form input.box{
    width: 500px;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
} 
form input.button{
    font-size: 1rem;
    padding: 12px 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

h5{
    background-color: #ffd4cd;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 0 ;
}
.feedback{
    display: none;
}

.message-content{
    color: rgb(9, 201, 41);
}

.show{
    display: block;
}